/* #PolsoeTitle {
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
} */
/* #Ingredient {
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
} */

#para {
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
}
.heading {
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-family: Calibri;
}
.IngredientTable {
  font-size: 20px;
  font-weight: bold;
  font-family: Calibri;
}

.polUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a33434;
  font-family: Calibri;
  font-size: 25px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #e9c58c;
}

.active {
  background-color: #9bd704;
}
